<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <%- include('navbar', {title: title}) %>
    <br><br>
    <form action="/" method="POST">
        <div class="form-group">
            <label for="gameName">Game Name</label>
            <input name="gameName" id="gameName" class="form-control">
        </div>
        <div class="form-group">
            <label for="gameDescription">About the game</label>
            <textarea class="form-control" rows="5" name="gameDescription"></textarea>
        </div>
        <button class="btn btn-warning" type="submit">Create</button>
        <br><br>
        <% if (errors.length > 0) { %>
        <p class="text-danger"> <%= errors[0].msg %> </p>
        <% } %>
    </form>
</body>

</html>